.cabecalhe {
    padding: 0 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--cor-primaria);
    box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.cabecalhe__logo {
    width: 5em;
}

.cabecalho__butao {
    display: none;
}

.cabecalho__butao:checked ~ .cabecalho__menu {
    display: block;
}

.cabecalho__menu-hamburgue {
    display: inline-block;
    width: 2em;
    height: 2em;
    background: url("../assets/menu_black.svg") no-repeat center;
}

.cabecalho__menu {
    display: none;
    top: 100%;
    left: 46%;
    position: absolute;
    padding: 0 0 0.5em 1em;
    background-color: var(--cor-secundaria);
    width: 50vw;
    border-end-start-radius: 15px;
}

.cabecalho__menu__item {
    margin: 1.3em auto;
}

.cabecalho__menu__item__link {
    color: var(--cor-fundo);
    font-size: 1.5rem;
    font-weight: 600;
}