.cabecalhe {
    padding: 0 1.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background-color: var(--cor-primaria);
    box-shadow: 0px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

.cabecalhe__logo {
    width: 5em;
}

.cabecalho__butao {
    display: none;
}

.cabecalho__butao:checked ~ .cabecalho__menu {
    display: block;
}

.cabecalho__menu-hamburgue {
    display: inline-block;
    width: 2em;
    height: 2em;
    background: url("../assets/menu_black.svg") no-repeat center;
}

.cabecalho__menu {
    display: none;
    top: 100%;
    left: 46%;
    position: absolute;
    padding: 0 0 0.5em 1em;
    background-color: var(--cor-secundaria);
    width: 50vw;
    border-end-start-radius: 15px;
}

.cabecalho__menu__item {
    margin: 1.3em auto;
}

.cabecalho__menu__item__link {
    color: var(--cor-fundo);
    font-size: 1.5rem;
    font-weight: 600;
}

.cabecalhe__container {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalhe {
        padding: 0.5em 2em;
        justify-content: space-around;
    }

    .cabecalhe__logo {
        width: 7em;
    }

    .cabecalho__menu-hamburgue {
        display: none;
    }

    .cabecalhe__container {
        display: block;
    }

    .cabecalhe__container__nagacao {
        display: flex;
        align-items: center;
    }

    .cabecalhe__container__item {
        text-align: center;
        margin: 0 0.8em;
    }

    .cabecalhe__container__item__link {
        color: var(--cor-fundo);
        font-size: 1.25rem;
    }

    .cabecalhe__container__item__link:hover {
        color: var(--cor-secundaria);
    }

    .cabecalhe__container__item__link_imagem__github {
        width: 5em;
        padding: 1em 0;
    }

    .cabecalhe__container__item__link_imagem__linkedin {
        width: 2.5em;
    }
}