.rodape {
    padding: 0.5em 0 1.5em ;
    text-align: center;
    border-top: 1px solid var(--cor-primaria);
}

.rodape__titulo {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

.rodape__texto > a {
    color: var(--cor-secundaria);
    font-weight: 500;
}