.sobre {
    padding: 3em 1em;
}

.sobre_subtitulo {
    font-family: var(--font-secundaria);
    font-size: 0.9rem;
    margin-bottom: 0.3em;
}

.sobre__titulo {
    font-size: 1.9rem;
    font-weight: 600;
}

.sobre__container {
    display: flex;
    margin: 0.5em;
    gap: 15px;
}

.sobre__container__titulo {
    background-color: var(--cor-secundaria);
    display: inline-block;
    padding: 5px 15px;
    border-radius: 8px;
    margin: 0.5em 0;
    font-size: 1rem;
    color: var(--cor-fundo);
}

.sobre__container__texto {
    font-weight: 600;
    font-size: 0.8rem;
    text-align: justify;
}

@media screen and (min-width: 1024px) {
    .sobre {
        padding: 5em 3em;
        text-align: center;
    }

    .sobre__cabecalho {
        margin-bottom: 3em;
    }

    .sobre_subtitulo {
        font-size: 1.5rem;
    }

    .sobre__titulo {
        font-size: 3rem;
    }

    .sobre__container {
        align-items: center;
        justify-content: space-around;
        padding-left: 3em;
    }

    .sobre__container__info {
        width: 70vh;
    }

    .sobre__container__titulo {
        font-size: 1.5rem;
    }

    .sobre__container__texto {
        font-size: 1.3rem;
    }

    .sobre__container__imagens > img {
        width: 70%;
    }
}