@import url("css/header.css");

:root {
    --cor-fundo: #ffffff;
    --cor-primaria: #000000;
    --cor-secundaria: #e53939;

    --font-primaria: "Lexend", sans-serif;
    --font-secundaria: "Hammersmith One", sans-serif;
}



body {
    background-color: var(--cor-fundo);
    font-size: 16px;
    font-family: var(--font-primaria);
    font-weight: 400;
    color: var(--cor-primaria);
    box-sizing: border-box;
}